@font-face {
    font-family: apple;
    src: url(CascadiaMono-Regular.otf);
}
body{
    font-family: apple;
    background:rgba(0, 0, 0, 0.356);
    color: rgb(0, 255, 0);
    cursor:text;
    font-size: 16px;
    }
    input{
        width: 200px;
        font-size: 16px;
        font-family: apple;
        outline: none;
        border:none;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 255, 0);
        text-decoration: none;
    }
    button{
        display: none;
    }